<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2><%= message %></h2>
    <h1>Product Table</h1>
    <table border="2">
        <thead>
            <th>S.No.</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Links</th>
        </thead>
        <tbody>
            <% data.forEach((ele, ind) => { %>
                <tr>
                    <td> <%= ind + 1 %></td>
                    <td> <%= ele.name %></td>
                    <td> ₹<%= ele.price %></td>
                    <td>
                        <a href="/showproduct/<%=ele._id%>"><button>View</button></a>
                        <a href="/editproduct/<%=ele._id%>"><button>Edit</button></a>
                        <a href="/deleteproduct/<%=ele._id%>"><button>Delete</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>
